In [1]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('raw_genres.csv')

In [45]:
df

     genre_id genre_color   genre_handle  genre_parent_id    genre_title
0           1     #006666    Avant-Garde             38.0    Avant-Garde
1           2     #CC3300  International              NaN  International
2           3     #000099          Blues              NaN          Blues
3           4     #990099           Jazz              NaN           Jazz
4           5     #8A8A65      Classical              NaN      Classical
..        ...         ...            ...              ...            ...
159      1032     #CC3300        Turkish            102.0        Turkish
160      1060     #CC3300          tango             46.0          Tango
161      1156     #CC3300           Fado            130.0           Fado
162      1193     #D4A017      Christmas            763.0      Christmas
163      1235     #000000   Instrumental              NaN   Instrumental

[164 rows x 5 columns]

In [46]:
df.isnull().sum()

genre_id            0
genre_color         0
genre_handle        0
genre_parent_id    15
genre_title         0
dtype: int64

In [49]:
df.isnull().sum()

genre_id           0
genre_color        0
genre_handle       0
genre_parent_id    0
genre_title        0
dtype: int64

In [39]:
df = df[df['album_id'].notna() & (df['album_id'] != '')]

In [48]:
df = df.fillna('NA')

In [50]:
df.to_csv('genres.csv', index=False)